@import "tailwindcss";


:root {
  --customBlack: #141414;
  --customBackground: #222222;
  --customWhite: #F8F8F8;
  --customGray: #D3D3D3;
  --customGray-dark: #464646;
  --customYellow: #FABF4B;
  --customYellow-highlight: #D38E07;
  --customError: #CE3E28;
}


@theme {
  --breakpoint-1300: 1300px;
  --breakpoint-950: 950px;
  --breakpoint-520: 520px;


  --color-customBlack: #141414;
  --color-customBackground: #222222;
  --color-customWhite: #F8F8F8;
  --color-customGray: #D3D3D3;
  --color-customGray-dark: #464646;
  --color-customYellow: #FABF4B;
  --color-customYellow-highlight: #D38E07;
  --color-customError: #CE3E28;
  --font-sm: 1rem;
  --font-sm-plus: 1.25rem;
  --font-md: 2rem;
  --font-md-plus: 2.5rem;
  --font-lg: 3rem;
}