.privacyRoot {
  background-color: var(--color-customWhite);
}
.privacyRoot h2 {
  font-weight: bold;
  text-transform: uppercase;
}
.privacyRoot h3 {
  font-weight: bold;
  text-transform: uppercase;
}
.privacyRoot p,
.privacyRoot li {
  line-height: 30px;
}

.privacyRoot section {
  margin-bottom: 30px;
}
.privacyRoot nav > ol > li:hover {
  color: var(--color-customYellow-highlight);
}
.privacyRoot nav > ol > li {
  text-transform: uppercase;
}
