.embla {
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    min-width: 0;
    position: relative;
    z-index: 1;
    transition: z-index 0.01s;
  }

  .embla__slide__inner {
    transition: transform 0.3s ease;
    position: relative;
    transform: scale(1.05);
  }

  .embla__slide:hover .embla__slide__inner {
    transform: scale(1.2);
  }

  .embla__slide:hover {
    z-index: 10;
  }

